doctype html
html
    head
        title URL Shortener
    body
        h2 Usage Example
        h3 Create:
        p https://slice-that-url.herokuapps.com/new/https://google.com
        h3 Output:
        p 12345
        h3 Access Original URL:
        p https://slice-that-url.herokuapps.com/r/12345
        